extends layout 
 
block content 
  h1= title 
 
  form(id='OlivesForm', action="/resource/Olives", method="POST") 
    div.form-group 
        label.costumeAttr(for='Olives_color') Olives type 
        input#costume_type(type='text', name='Olives_color') 
    div.form-group 
        label.costumeAttr(for='Olives_quantity') Olives quantity
        input#Olives_quantity(type='number', name='Olives_quantity') 
    div.form-group 
        label.costumeAttr(for='Olives_cost') Olives cost 
        input#Olives_cost(type='text', name='Olives_cost') 
    input(type="submit") 
 
  script. 
    document.forms['OlivesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });