extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let OlivesID = toShow._id
    - let Olives_color = toShow.Olives_color
    - let Olives_quantity = toShow.Olives_quantity
    - let Olives_cost = toShow.Olives_cost
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{OlivesID}
    - let actionid = "/resource/Olives/" + OlivesID
    form(id='OlivesForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='Olives_color') Olives Type
            input#Olives_color(type='text', name='Olives_color', value= Olives_color )
        div.form-group
            label.costumeAttr(for='Olives_quantity') Olives Olives_quantity
            input#Olives_quantity(type='number', name='Olives_quantity', value= Olives_quantity )
        div.form-group
            label.costumeAttr(for='location') Olives Olives_cost
            input#Olives_cost(type='text', name='Olives_cost', value= Olives_cost )

        input(type="submit")

    script.
        document.forms['OlivesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });